<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Part Form</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Inhouse Part Detail</h1>
        <form action="#" th:action="@{/showFormAddInPart}" th:object="${inhousepart}" method="POST">

            <!-- Add hidden form field to handle update -->
            <p><input type="hidden" th:field="*{id}"/></p>

            <p><label>Part Name:<br>
                <input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4"/>
            </label></p>
            <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>

            <p><label>Price:<br>
                <input type="text" path="price" th:field="*{price}" placeholder= "Price" class="form-control mb-4 col-4"/>
            </label></p>
            <p style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p>

            <p><label>Inventory:<br>
                <input type="text" path="inv" th:field="*{inv}" placeholder="Inventory" class="form-control mb-4 col-4"/>
            </label></p>
            <p style="color: red" th:if="${#fields.hasErrors('inv')}" th:errors="*{inv}">Inventory Error</p>

            <p><label>Minimum:<br>
                <input type="text" path="minInv" th:field="*{minInv}" placeholder="Minimum Inventory" class="form-control mb-4 col-4"/>
            </label></p>
            <p style="color: red" th:if="${#fields.hasErrors('minInv')}" th:errors="*{minInv}">Minimum Inventory Error</p>

            <p><label>Maximum:<br>
                <input type="text" path="maxInv" th:field="*{maxInv}" placeholder="Maximum Inventory" class="form-control mb-4 col-4"/>
            </label></p>
            <p style="color: red" th:if="${#fields.hasErrors('maxInv')}" th:errors="*{maxInv}">Maximum Inventory Error</p>

            <div class="container">
                <ul th:if="${#fields.hasGlobalErrors()}">
                    <li style="color: red" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
                </ul>
            </div>

            <p><label>Part ID:<br>
                <input type="text" th:field="*{partId}" placeholder="Part ID" class="form-control mb-4 col-4"/>
            </label></p>

            <p><input type="submit" value="Submit" /></p>
        </form>
        <p><errors path="price" cssClass=""error/><p>

        <a href="http://localhost:8080/">Link to Main Screen</a>
    </body>
</html>